<!DOCTYPE html>
<html>
  <head>
    <title>GithubLeague</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="assets/pivotal-ui-rails.css">
    <script src="assets/pivotal-ui.js"></script>
  </head>
  <body>
    <div class="phxl pvm bg-glow">
      <h2 class="type-neutral-11">
        <span>GitHub</span>
        <span class="em-max">League</span>
      </h1>
    </div>

    <%= yield %>

  </body>
</html>
